@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="ProgressModal" class="modal" visible="true" runat="server" style="display: none; z-index: 1000; background-color: rgba(0, 0, 0, 0.37); overflow-y: auto;">
    <!-- Modal content -->
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <div class="row">
                    <center>
                        <img src="~/modalloadinggifs/uploadloading.gif" runat="server" id="loadingimg" style="display: block; height: 120px; height: 120px; width: 120px;" /> <br />
                        <img src="~/modalloadinggifs/pleasewait.gif" runat="server" id="Img1" style="display: block; height: 40px; width: auto;" /><br />
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>