@model List<tblEvent>
@{
    ViewData["Title"] = "Search Mail Numbers";
}
<h2>@ViewData["Title"]</h2>

<div class="container">

    <!-- Mail number search bar -->
    <form id="mailNumberForm" method="get" action="@Url.Action("Index", "Home")">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchMailNumberInput" name="searchMailNumbers" placeholder="Search Mail Numbers">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search Mail Numbers</button>
            </div>
        </div>
    </form>

    @if (Model != null && Model.Any())
    {
        <h4>Search Result/s:</h4>
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th data-orderable="true">Mail Subject</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Subject</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        // Initialize DataTable
        if ($.fn.DataTable.isDataTable('#dataTable')) {
            $('#dataTable').DataTable().destroy();
        }

        $('#dataTable').DataTable({
            buttons: [
                'copy'
            ]
        });

        // Handle form submission
        $('form').on('submit', function () {
            var searchMailNumbers = $('[name="searchMailNumbers"]').val();
            localStorage.setItem('searchMailNumbers', searchMailNumbers);
            console.log('searchMailNumbers:', searchMailNumbers);
        });

        // Check if there's a stored search query on page load
        var storedSearchQuery = localStorage.getItem('searchMailNumbers');
        if (storedSearchQuery) {
            // Populate the search input field with the stored query
            $('#searchMailNumberInput').val(storedSearchQuery);
        }
    });

</script>

